@font-face {
  font-family: 'MyFont';
  src: url('./TrajanusBricks.ttf') format('truetype'),
    url('./TrajanusBricksXtra.ttf') format('truetype'),
    url('./TrajanusBriX-Invers.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;

}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url('./fire.jpg') no-repeat;
  background-size: cover;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  background: rgba(255, 255, 255);
  color: red;
  border-top: solid 2px red;
  border-bottom: solid 2px red;
  font-family: 'MyFont';
  
}

#title {
  transform: translateY(20%);
}

.nav {
  transform: translateY(50%);
}

input[type=button] {
  font-family: 'Times New Roman', Times, serif;
  border-top: none;
  border-left: 1px solid red;
  border-bottom: 1px solid red;
  border-right: 1px solid red;
  background: white;
  padding: 1em;
  width: 5em;
  margin-left: 1em;
  margin-right: 1em;
}

input[type=button]:hover {
  background: rgb(255, 0, 0);
  color: white;
}

input[type=button].active {
  background: black;
  color: red;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
  background: rgb(255, 255, 255, .6);
  font-family:'Times New Roman', Times, serif;
  min-height: 100vh;
  border: solid 1px red;
}

.spacer {
  margin: 2em;
}

.menu-box {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.sub-box {

}

p.info {
  margin-left: 1em;
  margin-right: 1em;
}

.graphic {
  max-width: 80vw;
  margin: 1em;
}

@media only screen and (max-width: 720px) {
  .menu {
    width: 90vw;
  }
}

h1 {
  font-family: 'MyFont';
}

h2 {
  font-family: 'MyFont';
}

h3 {
  font-family: 'MyFont';
}